<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/basics/books">Books Database</a></td>
        <td><a href="{{site.baseurl}}/basics/sports">Sports Database</a></td>
        <td><a href="{{site.baseurl}}/basics/cars">Cars Database</a></td>
        <td><a href="{{site.baseurl}}/basics/javascript">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/basics/js-debug">JS Debugging</a></td>
    </tr>
</table>